.CharacterDetails__myComponentClass-irCQB {
    color: red;
}.HomelandStep__myComponentClass-31wws {
    color: red;
}.RunesStep__unactive-3lleu {
    color: lightgray;
}.RuneCounter__unactive-vobWP {
    color: lightgray;
}.RunesDistributionStep__unactive-SzNXa {
    color: lightgray;
}.CharacteristicsCounter__unactive-2kRPA {
    color: lightgray;
}.CharacteristicsStep__selected-1ya0_ {
    font-weight: bold;
}

.CharacteristicsStep__unactive-3Eooz {
    color: lightgray;
}.RunesAffinityBonusStep__selected-1tjjM {
    font-weight: bold;
}

.RunesAffinityBonusStep__unactive-HZm34 {
    color: lightgray;
}* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.MainPage__content-35lIl {
    position: relative;
}

.MainPage__main-3wiGF {
    width: calc(100% - 400px);
}

.MainPage__asideRight-1X-xW {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: auto;
    width: 400px;
    padding-left: 20px;
}.SpellCard__container-37iRZ {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 0 15px 0;
    position: relative;
    border: 2px solid black;
    padding: 5px;
    height: 300px;
    overflow: hidden;
    resize: vertical;
}

@media (max-width: 1024px) {
    .SpellCard__container-37iRZ {
        width: 47%;
    }
}

@media (max-width: 700px) {
    .SpellCard__container-37iRZ {
        width: 97%;
    }
}

.SpellCard__container-37iRZ.SpellCard__rolled-26j7J {
    resize: none;
    height: 60px;
}

.SpellCard__container-37iRZ.SpellCard__bookmarked-1FyJQ .SpellCard__buttonMark-1nSVr  {
    background: gold;
}

.SpellCard__container-37iRZ p {
    margin: 0 0 15px;
}

.SpellCard__buttonMark-1nSVr {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    /*position: absolute;*/
    /*top: 20px;*/
    /*right: 10px;*/
}

.SpellCard__title-Y68dg {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 20px;
    padding-right: 50px;
}

.SpellCard__title-Y68dg span {
    display: inline-block;
    vertical-align: middle;
}

.SpellCard__text-GS6pf {
    overflow: auto;
}

.SpellCard__text-GS6pf p {
    line-height: 1.5;
}

.SpellCard__mpCost-1Lgsj {
    /*font-size: 15px;*/
    font-weight: bold;
    /*position: absolute;*/
    /*top: 20px;*/
    /*right: 10px;*/
}

.SpellCard__runes-353qQ {
    font-weight: bold;
}.SpellBook__title-3w4jh {
    text-align: center;
}

.SpellBook__filter-3VPKr {
    margin: 10px 50px;
}

.SpellBook__container-3rOB3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px
}

.SpellBook__filters-QUJwJ {
    padding: 10px
}

.SpellBook__spellsContainer-7A127 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.SpellBook__filters-QUJwJ {
    /*width: 25%;*/
}

.SpellBook__spellsContainer-7A127 {
    /*width: 75%;*/
}

.SpellBook__subtitle-17GBT {
    text-align: center;
}
/*# sourceMappingURL=styles.css.map*/